@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
  margin: 0;
  padding:0;
}
html{
  box-sizing: border-box;

}
$main-color:#40BFFF;
$color-red:#F44858;
$color-footer:#BCDDFE;
$color-text:#22262A;
$color-background:#ffff;
$color-title-product:#223263;
$color-icons:#FF6875;
$color-disabled:#C1C8CE;

//width
$with-section: calc(100% - 280px);
body {
  
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // max-width: 1500px;
  width: 100vw;

  font-size: 16px;
  color: $color-text;
}
.wrapper-product{
  width: $with-section;
  margin: 0 auto;
}
 img{
 
   display: block;
 }
 ul,li{
   list-style: none;
   margin:0;
 }
 button{
   outline: none;
   border: none;
 }
 a {
   text-decoration: none;
   color:inherit
 }
 p{
   margin-bottom:0;
 }