
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$main-color:#40BFFF;
$color-red:#F44858;
$color-footer:#BCDDFE;
$color-text:#22262A;
$color-background:#ffff;
$color-title-product:#223263;
$color-icons:#FF6875;
